---
---

@Charset "utf-8";

$primary-color: #BC0100;
$callout-primary-color: #262F36;

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

h1.post-title {
    text-align: center;
    margin: 50px 0;
}

.m-t-5 { margin-top: 5px; }
.m-r-5 { margin-right: 5px; }
.m-b-5 { margin-bottom: 5px; }
.m-l-5 { margin-left: 5px; }
.p-t-5 { padding-top: 5px; }
.p-r-5 { padding-right: 5px; }
.p-b-5 { padding-bottom: 5px; }
.p-r-5 { padding-left: 5px; }

.font-thin { font-weight: 100; }
.font-bold { font-weight: 500; }

a.link-no-decoration,
a.link-no-decoration:active,
a.link-no-decoration:hover,
a.link-no-decoration:focus
a.link-no-decoration:visited {
    text-decoration: none;
}

.app-navbar {
    font-size: 13px;
    letter-spacing: .05em;

    .navbar-collapse {
        border-top: 0;
        box-shadow: none;
    }
}

.app-navbar-container {
    background: url(../image/top.jpg) top center;
    background-size: cover;
}

.app-footer, .app-callout-primary {
    background-color: $callout-primary-color;
}

.app-callout-info {
    background-color: #F4F5F6;
}

.app-top-block {
    background-color: transparent;
    padding: 50px 0 100px;
    color: white;
}

h1.app-top-title {
    font-size: 72px;
}

.app-sponsors-text {
    p {
        font-size: 14px;
    }
}

$timetable-icon-size: 14%;
$timetable-border-weight: 3px;
$timetable-border-color: #D10154;

.app-timetable-container {
    margin-left: ($timetable-icon-size / 2);
    border-left: $timetable-border-color $timetable-border-weight solid;
}

.app-timetable-body {
    margin-left: - ($timetable-icon-size / 2);
}

.app-timetable-icon {
    width: $timetable-icon-size;
    float: left;
    padding-left: 10px;
    line-height: 1;

    img {
        width: 100%;
        border-radius: 100px;
        border: $timetable-border-color $timetable-border-weight solid;
    }
}

.app-timetable-break-icon {
    border-radius: 10px;
    background-color: $timetable-border-color;
    width: 20px;
    height: 20px;
}

.app-timetable-talk {
    width: 100% - ($timetable-icon-size * 1.2);
    float: left;
    padding-left: 10px;
}

@media (min-width: 768px) {
    $container-width: 740px;
    $timetable-icon-size: 50px;

    .app-timetable-container {
        margin-left: ($timetable-icon-size / 2);
    }

    .app-timetable-body {
        margin-left: - ($timetable-icon-size / 2) - $timetable-border-weight;
    }

    .app-timetable-break-icon {
        margin-left: $timetable-border-weight / 2;
    }

    .app-timetable-icon {
        width: $timetable-icon-size;
        margin-left: 10px;
        padding-left: 0;
    }

    .app-timetable-talk {
        width: $container-width - $timetable-icon-size;
    }    
}

@media (min-width: 992px) {
    $container-width: 880px;
    $timetable-icon-size: 60px;

    .app-timetable-container {
        margin-left: ($timetable-icon-size / 2);
    }

    .app-timetable-body {
        margin-left: - ($timetable-icon-size / 2) - $timetable-border-weight;
    }

    .app-timetable-icon {
        width: $timetable-icon-size;
    }

    .app-timetable-talk {
        width: $container-width - $timetable-icon-size;
    }
}

@media (min-width: 1200px) {
    $container-width: 1020px;
    $timetable-icon-size: 80px;

    .app-timetable-container {
        margin-left: ($timetable-icon-size / 2);
    }

    .app-timetable-body {
        margin-left: - ($timetable-icon-size / 2) - $timetable-border-weight;
    }

    .app-timetable-icon {
        width: $timetable-icon-size;
    }

    .app-timetable-talk {
        width: $container-width - $timetable-icon-size;
        padding-left: 20px;
    }
}

.app-timetable-title {
    font-weight: 500;
}

.app-timetable-talk-ja p {
    font-size: 14px;
    line-height: 1.4em;
}

.app-timetable-talk-en p {
    font-size: 16px;
}

.app-timetable-starts-at {
    color: $primary-color;
    font-weight: 700;
}

article.post {
    margin-bottom: 70px;

    h1, h2, h3 {
        margin-top: 50px;
    }
    h4, h5, h6 {
        margin-top: 40px;
    }
}
