---
layout: top.en
permalink: /en/
---

<!--
<div class="block block-inverse block-secondary app-callout-primary text-center p-y-md">
  <h1 class="m-t-0 font-thin">We are Live</h1>
  <h4 class="m-b font-thin">We are live-streaming conference talks.</h4>

  <p class="text-muted m-b font-size-med font-bold">All talks will be given in Japanese.</p>
  <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/en/tickets/">Watch Live Streaming</a>
</div>
-->

<div class="block block-secondary app-callout-info text-center p-y-md">
  <h1 class="font-thin">Conference Program</h1>
  <h4>There are more awesome speakers. Check out the amazing slate of sessions!</h4>
  <p class="text-muted m-b font-size-med font-bold">All talks will be given in Japanese.</p>

  <a class="btn btn-primary btn-lg m-b" href="{{ site.baseurl }}/en/schedule">See The Full Schedule</a>
</div>

<div class="p-y-md text-center">
  <h1 class="block-title font-thin">Sponsors</h1>

  <div class="container">
      <div class="p-y-md">
        <h3 class="m-b">Ruby3 Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby3 %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h3 class="m-b">Ruby Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h4>Gold Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.gold %}
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-t-md">
        <h4>Network Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.network %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-y-md">
        <h4>Book Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.book %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

    </div>
</div>
