---
layout: top.en
permalink: /en/
---

<div class="block block-inverse block-secondary app-callout-primary text-center p-y-md">
  <h1 class="m-t-0 font-thin">Registration is Open</h1>
  <h4 class="m-b font-thin">Don't miss this chance to talk all things Ruby with other enthusiasts and the creator of Ruby, in the land of Ruby.</h4>

  <p class="text-muted m-b font-size-med font-bold">All talks will be given in Japanese.</p>
  <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/en/tickets/">Register now</a>
</div>

<div class="p-t-md text-center">
  <h1 class="block-title font-thin">Keynote Speaker</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-t-md">
        <img style="border-radius: 100px;" width="200" src="https://www.gravatar.com/avatar/aba3c1870b6cea67493617e5a343b586?s=400" />
        <h3 class="m-t">Sadayuki Furuhashi</h3>
        <h6 class="block-title text-muted text-uppercase">Treasure Data, Inc. Founder & Software Architect</h6>
      </div>
    </div>
  </div>
</div>

<div class="p-y-md text-center">
  <h1 class="block-title font-thin p-b-md">Invited Speakers</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 m-b-md">
        <img style="border-radius: 75px;" height="150" width="150" src="http://www.gravatar.com/avatar/a1f8ed12fefd7759ef8838e62ee409a6?s=300" />
        <h3 class="m-t">Kazuho Oku</h3>
        <h6 class="block-title text-muted text-uppercase">Developer of Palmscape, Xiino, Japanize, Q4M, JSX, H2O</h6>
      </div>
      <div class="col-sm-3 m-b-md">
        <img style="border-radius: 75px;" height="150" width="150" src="https://www.gravatar.com/avatar/02da662c083396641da96c1d32fc86ed?s=300" />
        <h3 class="m-t">Motohiro Kosaki</h3>
        <h6 class="block-title text-muted text-uppercase">Linux Kernel Developer, Ruby Core Committer</h6>
      </div>
      <div class="col-sm-3 m-b-md">
        <img style="border-radius: 75px;" height="150" width="150" src="https://www.gravatar.com/avatar/f29327647a9cff5c69618bae420792ea?s=300" />
        <h3 class="m-t">Aaron Patterson</h3>
        <h6 class="block-title text-muted text-uppercase">Ruby on Rails Committer, Ruby Core Committer</h6>
      </div>
      <div class="col-sm-3 m-b-md">
        <img style="border-radius: 75px;" height="150" width="150" src="https://www.gravatar.com/avatar/0ec4920185b657a03edf01fff96b4e9b?s=300" />
        <h3 class="m-t">Yukihiro Matsumoto</h3>
        <h6 class="block-title text-muted text-uppercase">Creator of Ruby</h6>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-callout-info text-center p-y-md">
  <h1 class="font-thin">Conference Program</h1>
  <h4>There are more awesome speakers. Check out the amazing slate of sessions!</h4>
  <p class="text-muted m-b font-size-med font-bold">All talks will be given in Japanese.</p>

  <a class="btn btn-primary btn-lg m-b" href="{{ site.baseurl }}/en/schedule">See The Full Schedule</a>
</div>

<div class="text-center p-y-md">
  <h1 class="block-title font-thin">Venue</h1>
  <h2>Akihabara Convention Hall</h2>
  <h4 class="text-muted">Sotokanda 1-18-13, Chiyoda, Tokyo</h4>
</div>

<div class="row m-a-0">
  <div class="col-sm-4 p-a-0 hidden-xs">
    <div id="carousel-example-generic-2" class="carousel carousel-light slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic-2" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox" style="height: 400px;">
        <div class="item active">
          <div style="background: url(/tokyo11/image/venue/2.jpg) top center; background-size: cover; height: 400px;"></div>
        </div>
        <div class="item">
          <div style="background: url(/tokyo11/image/venue/4.jpg) top center; background-size: cover; height: 400px;"></div>
        </div>
        <div class="item">
          <div style="background: url(/tokyo11/image/venue/3.jpg) top center; background-size: cover; height: 400px;"></div>
        </div>
        <div class="item">
          <div style="background: url(/tokyo11/image/venue/1.jpg) top center; background-size: cover; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-a-0">
    <div id="app-maps" onclick="$('#app-maps iframe').css('pointer-events', 'auto');" onmouseleave="$('#app-maps iframe').css('pointer-events', 'none');">
      <iframe style="pointer-events:none; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25925.18887156028!2d139.7421348106729!3d35.68565337948364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c1d6fb74207%3A0xe6100facc0f6dc34!2z56eL6JGJ5Y6f44Kz44Oz44OZ44Oz44K344On44Oz44Ob44O844Or!5e0!3m2!1sen!2sjp!4v1457705921474" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="p-y-md text-center">
  <h1 class="block-title font-thin">Sponsors</h1>

  <div class="container">
      <div class="p-y-md">
        <h3 class="m-b">Ruby3 Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby3 %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h3 class="m-b">Ruby Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h4>Gold Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.gold %}
            <a href="{{ sponsor.link_en | default: sponsor.link }}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-t-md">
        <h4>Network Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.network %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-y-md">
        <h4>Book Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.book %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

    </div>
</div>

<div class="block block-secondary app-callout-info text-center p-y-md">
  <h1 class="font-thin">Get Your Ticket</h1>
  <h4 class="m-b">Tokyo Ruby Kaigi always sells out, so get your tickets before they sell out!</h4>

  <a class="btn btn-primary btn-lg m-b" href="{{ site.baseurl }}/en/tickets/">Register now</a>
</div>
