---
layout: top.en
permalink: /en/
---

<div class="p-t-md app-iphone-block text-center app-top-speakers">
  <h1 class="block-title font-thin">Keynote Speaker</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-t-md">
        <h3 class="m-t-0">Sadayuki Furuhashi</h3>
        <h6 class="block-title text-muted text-uppercase">Treasure Data, Inc. Founder & Software Architect</h6>
      </div>
    </div>
  </div>
</div>

<div class="p-y-md app-iphone-block text-center app-top-speakers">
  <h1 class="block-title font-thin p-b-md">Other Speakers</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 m-b-md">
        <h3 class="m-t-0">Kazuho Oku</h3>
        <h6 class="block-title text-muted text-uppercase">Developer of Palmscape, Xiino, Japanize, Q4M, JSX, H2O</h6>
      </div>
      <div class="col-sm-6 m-b-md">
        <h3 class="m-t-0">Motohiro Kosaki</h3>
        <h6 class="block-title text-muted text-uppercase">Linux Kernel Developer, Ruby Core Commiter</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 m-b-md">
        <h3 class="m-t-0">Aaron Patterson</h3>
        <h6 class="block-title text-muted text-uppercase">Ruby on Rails Commiter, Ruby Core Commiter</h6>
      </div>
      <div class="col-sm-6 m-b-md">
        <h3 class="m-t-0">Yukihiro Matsumoto</h3>
        <h6 class="block-title text-muted text-uppercase">Creator of Ruby</h6>
      </div>
    </div>
  </div>
</div>

<div class="block block-inverse block-secondary app-callout-primary text-center p-y-md">
  <h4 class="m-t-0 font-thin">Call for Proposals is closed.</h4>
  <h4 class="m-t-0 font-thin">We will post more information about our speakers, and the topics that they will cover, soon.</h4>
</div>

<!-- Maps
  <div id="app-maps" onclick="$('#app-maps iframe').css('pointer-events', 'auto');">
    <iframe style="pointer-events:none; width: 100%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25925.18887156028!2d139.7421348106729!3d35.68565337948364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c1d6fb74207%3A0xe6100facc0f6dc34!2z56eL6JGJ5Y6f44Kz44Oz44OZ44Oz44K344On44Oz44Ob44O844Or!5e0!3m2!1sen!2sjp!4v1457705921474" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
-->

<div class="p-y-md app-iphone-block text-center app-top-sponsors">
  <h1 class="block-title font-thin">Sponsors</h1>

  <div class="container">
      <div class="p-y-md">
        <h3 class="m-b">Ruby3 Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby3 %}
          <span class="m-x-md" style="display: inline-block">
            <a href='{{sponsor.link}}'><img width='220' src='{{site.baseurl}}/image/{{sponsor.image}}' /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h3 class="m-b">Ruby Sponsors</h3>

        {% for sponsor in site.data.sponsors.ruby %}
          <span class="m-x-md" style="display: inline-block">
            <a href='{{sponsor.link}}'><img width='220' src='{{site.baseurl}}/image/{{sponsor.image}}' /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h4>Gold Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.gold %}
            <a href='{{sponsor.link}}'><img width='130' src='{{site.baseurl}}/image/{{sponsor.image}}' hspace='10'/></a>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
