---
layout: top.ja
permalink: /
---
<div class="block block-inverse block-secondary app-callout-primary text-center p-y-md">
  <h1>おかげさまで、無事に終了することができました。ありがとうございました。</h1>
</div>

<div class="block block-secondary app-callout-info text-center p-y-md">
  <h2 class="m-t-0 font-thin">アンケート</h2>
    <a class="btn btn-primary btn-lg" href="http://goo.gl/forms/PAkaVh6GLO81Nzas1" target="_blank">感想をお寄せ下さい。</a>
</div>

<!--
<div class="block block-inverse block-secondary app-callout-primary text-center p-y-md">
  <h2 class="m-t-0 font-thin">ライブ配信中</h2>
  <h5 class="m-b font-thin">カンファレンスの模様をライブ配信しています。</h5>

  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=saW1cxFh8gg" target="_blank">ライブ配信ページへ</a>
</div>
 -->

<div class="block block-secondary app-callout-info text-center p-y-md">
  <h2>開催スケジュール</h2>
  <h4 class="m-b">基調講演者、招待講演者に6人のスピーカーを加えた、総勢10名が登壇予定です。</h4>

  <a class="btn btn-primary btn-lg m-b" href="{{ site.baseurl }}/schedule">スケジュールを見る</a>
</div>

<div class="p-y-md text-center">
  <h2 class="block-title font-thin">Sponsors</h2>

  <div class="container">
      <div class="p-y-md">
        <h3 class="m-b"><a href='sponsors/#ruby3'>Ruby3 Sponsors</a></h3>

        {% for sponsor in site.data.sponsors.ruby3 %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{sponsor.link}}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h3 class="m-b"><a href='sponsors/#ruby'>Ruby Sponsors</a></h3>

        {% for sponsor in site.data.sponsors.ruby %}
          <span class="m-x-md" style="display: inline-block">
            <a href="{{sponsor.link}}" target="_blank"><img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" /></a>
          </span>
        {% endfor %}
      </div>

      <div class="p-y-md">
        <h4><a href='sponsors/#gold'>Gold Sponsors</a></h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.gold %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-y-md">
        <h4>Network Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.network %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

      <div class="p-y-md">
        <h4>Book Sponsors</h4>
        <div class="row">
          {% for sponsor in site.data.sponsors.book %}
            <a href="{{sponsor.link}}" target="_blank"><img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" hspace="10" /></a>
          {% endfor %}
        </div>
      </div>

    </div>
</div>
