---
layout: page
title: Sponsors
permalink: /sponsors/
---

<div class="block block-secondary app-iphone-block p-t-0 p-b-0 app-sponsors-text">
  <h2 id="ruby3" class="text-center p-b-md">Ruby3 Sponsors</h2>

  {% for sponsor in site.data.sponsors.ruby3 %}
  <div class="row p-b-md">
    <div class="col-sm-4 text-center">
      <a href="{{sponsor.link}}">
        <img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" />
      </a>
    </div>
    <div class="col-sm-8 m-t">
      <h4 class="m-t-0"><a href='{{sponsor.link}}'>{{sponsor.name}}</a></h4>
      <p class="m-b-md">{{sponsor.desc}}</p>
    </div>
  </div>
  {% endfor %}
  
  <h2 id="ruby" class="text-center p-b-md">Ruby Sponsors</h2>

  {% for sponsor in site.data.sponsors.ruby %}
  <div class="row p-b-md">
    <div class="col-sm-4 text-center">
      <a href="{{sponsor.link}}">
        <img width="220" src="{{site.baseurl}}/image/{{sponsor.image}}" />
      </a>
    </div>
    <div class="col-sm-8 m-t">
      <h4 class="m-t-0"><a href='{{sponsor.link}}'>{{sponsor.name}}</a></h4>
      <p class="m-b-md">{{sponsor.desc}}</p>
    </div>
  </div>
  {% endfor %}

  <h3 id="gold" class="text-center p-b-md">Gold Sponsors</h3>

  {% for sponsor in site.data.sponsors.gold %}
  <div class="row p-b-md">
    <div class="col-sm-2 text-center">
      <a href="{{sponsor.link}}">
        <img width="130" src="{{site.baseurl}}/image/{{sponsor.image}}" />
      </a>
    </div>
    <div class="col-sm-10 m-t">
      <h4 class="m-t-0"><a href='{{sponsor.link}}'>{{sponsor.name}}</a></h4>
      <p class="m-b-md">{{sponsor.desc}}</p>
    </div>
  </div>
  {% endfor %}
</div>
