<nav class="navbar navbar-transparent m-b-0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #9F2866;">
          東京 Ruby 会議
        </strong>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-com">
      <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.path contains "old/" %}
            {% else %}
              <li>
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
