<nav class="navbar navbar-transparent navbar-static-top text-uppercase app-navbar m-b-0">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/en">
        <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #9F2866;">
          東京 Ruby 会議
        </strong>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.path contains "old/" %}
            {% elsif my_page.path contains "en/" %}
              <li>
                <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <li>
          <a href="{{ site.baseurl }}/">日本語</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
