---
layout: poster
permalink: /poster
---

<div>
  <center>
    <img width='45%' src="{{site.baseurl}}/image/svg/tokyorubykaigi11.svg" style='margin: 1%'/>
  </center>
</div>

<div style='text-align: center; font-size: 120%'>
  <div>
    2016年5月28日（土）<br/>
    秋葉原コンベンションホール
  </div>

  <p>
    主催<br/>
    東京Ruby会議11 実行委員会
  </p>

  <p>
    後援<br/>
    <img width="8%" src="{{site.baseurl}}/image/svg/ruby-no-kai.svg" align="middle" style='margin: 1% 3% 1% 3%;'/>
  </p>
</div>

<div
  style='
  text-align: center;
  font-size: 120%;
  '
  >
  <h3>協賛</h3>

<h4>Ruby3 Sponsors</h3>

  {% for sponsor in site.data.sponsors.ruby3 %}
    <img width="8%" src="{{site.baseurl}}/image/svg/{{sponsor.svg}}" align="middle" style='margin: 0% 3% 1% 3%;'/>
  {% endfor %}

<h4>Ruby Sponsors</h3>

  {% for sponsor in site.data.sponsors.ruby %}
    <img width="8%" src="{{site.baseurl}}/image/svg/{{sponsor.svg}}" align="middle" style='margin: 0% 3% 1% 3%;'/>
  {% endfor %}

<h4>Gold Sponsors</h3>

  <div style='padding-left: 20%; padding-right: 20%'>
    {% for sponsor in site.data.sponsors.gold %}
    <img width="9%" src="{{site.baseurl}}/image/svg/{{sponsor.svg}}" align="middle" style='margin: 0% 3% 1% 3%;'/>
    {% endfor %}
  </div>
</div>
