<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="app-navbar-container">
      <div class="p-y-md p-x" style="background-color: rgba(0,0,0,0.5)">
        {% include header.html %}

        <div class="block text-center app-top-block">
          <h1 class="block-title font-thin app-top-title">Tokyo RubyKaigi 11</h1>
          <p class="lead m-y-0">May 28th, 2016</p>
          <p class="lead m-y-0">
            <a class="link-no-decoration app-map-link" href="https://www.google.co.jp/maps/place/%E7%A7%8B%E8%91%89%E5%8E%9F%E3%82%B3%E3%83%B3%E3%83%99%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%B3%E3%83%9B%E3%83%BC%E3%83%AB/data=!3m1!4b1!4m5!3m4!1s0x60188c1d6fb74207:0xe6100facc0f6dc34!8m2!3d35.6992193!4d139.7721133" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Akihabara Convention Hall<br />
              Sotokanda 1-18-13, Chiyoda, Tokyo
            </a>
          </p>

          <p class="lead m-t m-b-0">After Party</p>
          <p class="lead m-y-0">
            <a class="link-no-decoration app-map-link" href="https://www.google.co.jp/maps/place/%E3%82%B9%E3%83%AA%E3%83%BC%E3%83%A2%E3%83%B3%E3%82%AD%E3%83%BC%E3%82%BA%E3%82%AB%E3%83%95%E3%82%A7+%E7%A7%8B%E8%91%89%E5%8E%9F%E5%BA%97/data=!3m1!4b1!4m5!3m4!1s0x60188c1d2085302d:0xe74a2d97d55df0ba!8m2!3d35.6977306!4d139.770369" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Three Monckey's Cafe Akihabara<br />
              Sotokanda 1-1-10, Chiyoda, Tokyo
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
